.single-diary-item{
    width:100%;
    display: flex;
    align-items: center;
    flex-direction: column;


    &__header{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 900px;
        width:80%;

        h4{
            flex-grow: 1;
        }
    }

    &__form{
        margin-top: 8em;
        width:90%;
        max-width: 900px;
        outline:1px solid red;
        padding: 1em;
    }
}