.single-diary-item{
    width:100%;
    display: flex;
    align-items: center;
    flex-direction: column;


    &__header{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 900px;
        width:80%;

        h4{
            flex-grow: 1;
        }
    }

    &__form{
        margin: 1em 0em;
        width:90%;
        max-width: 900px;
        padding: 1em;
    }

    &__table{
        display: flex;
        flex-direction: column;
        margin-top: 2em;
        margin-bottom: 10em;
        height: 400px;
        width: 95%;
        max-width: 700px;
    }
}