@import '../../variables.scss';

.dashboard{
    display: flex;
    justify-content: center;

    &__items{
        display: flex;
        width: fit-content;

        &__item{
            padding:.5em 1em;
            position: relative;
            border: 1px solid lightgray;
            border-radius: 6px;
            width: 240px;
            height: 400px;
            margin:0em 1em;
            display: flex;
            flex-direction: column;

            h2{
                margin-bottom: 1em;
            }

            button{
                background-color: $button-main-green;
                color:white;
                cursor: pointer;    
                padding:.5em .4em;
                width:90%;
                border:1px solid lightgray;
                border-radius: 4px;
                margin-bottom: auto;
                position: absolute;
                bottom:15px;
                left:50%;
                transform: translate(-50%, -50%);

                &:hover{
                    background-color: $button-main-green-hover;
                }
            }
        }


    }
}