.single-diary-item__pie-chart{
    margin-top: -10em;
    margin-bottom: 5em;
}

.pie-chart__totals{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top:3em;

    p{
        margin:2.5em;
    }
}

.pie-chart{
    display: flex;
    margin:3em;
    justify-content: center;
}