@import '../../variables.scss';

.navbar{
    background-color: $main-blue;
    padding:0em 2em;
    display: flex;
    align-items: center;

    &__logo{
        color:white;

        a{
            width:145px;
            color:white;
            display: block;
            padding:1em 1em;
            font-size: 20px;
            text-decoration: none;
        }
    }

    &__button{
        display: flex;
        width: 100%;

        button{
            background-color: $main-blue;
            border: none;
            color:white;
            margin-left: auto;
            cursor: pointer;
            display: flex;
            padding:.15em 0em;
            font-size: 33px;
        }
    }
}

.sidedrawer{
    position: fixed;
    font-family: $font-one;
    z-index: 1000;
    background-color:white;
    right:0;
    bottom:0;
    top:0;
    width:250px;
    padding:1em 0em;
    transform: translateX(100%);
    transition: .4s ease; 
    visibility: hidden;
    box-shadow: 0 2px 13px rgba(0,0,0,.7);

    &__accordion{
        margin-top: 2em;
    }

    &__header{
        cursor: pointer;
        padding:.7em 0em;
        text-align: center;
        transition: .25s;

        &:hover{
            background-color: lightgray;
            transition: .25s;
        }

        span{
            display: flex;
            justify-content: center;
            align-items: center;

            .icon{
                display: flex;
                margin-left:.4em;
                transition: .20s;
                font-size: 14px;
            }

            .icon.rotate{
                transform: rotate(-180deg);
                transition: .20s;
            }
        }
    }

    &__expandable-links{
        max-height: 0px;
        overflow-y: hidden;
        transition: max-height 0.2s linear;
    }

    &__expandable-links.show{
        max-height: 200px;
    }


    ul{
        margin-top:4em;

        a:first-child{
            border-top: 1px solid lightgray;
        }

        a{
            text-decoration: none;
            color:black;
            font-size: 16px;
            display: block;
            text-align: center;
            border-bottom:1px solid lightgray;
            transition: .15s;

            &:hover{
                background-color: lightgray;
                transition: .15s;
            }

            li{
                list-style-type: none;
                padding:.7em 0em;

            }
        }  
    }

   button{
        margin-left: auto;
        background-color: white;
        margin-right: .5em;
        border:none;
        display: flex;
        align-items: center;
        justify-content: center;
        color:darkgray;
        font-size: 36px;
        cursor: pointer;

        :hover{
            color:black; 
        }
     }
   }    

.sidedrawer.show{
    visibility:visible;
    transform:  translateX(0%);
    transition: .4s ease;
    width:250px;
}

.backdrop{
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
    position: fixed;
    top:0;
    left:0;
}