.navbar {
  background-color: #285593;
  padding: 0em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar__logo {
  color: white;
}

.navbar__logo a {
  width: 145px;
  color: white;
  display: block;
  padding: 1em 1em;
  font-size: 20px;
  text-decoration: none;
}

.navbar__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.navbar__button button {
  background-color: #285593;
  border: none;
  color: white;
  margin-left: auto;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .15em 0em;
  font-size: 33px;
}

.sidedrawer {
  position: fixed;
  font-family: "Open Sans", sans-serif;
  z-index: 1000;
  background-color: white;
  right: 0;
  bottom: 0;
  top: 0;
  width: 250px;
  padding: 1em 0em;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: .4s ease;
  transition: .4s ease;
  visibility: hidden;
  -webkit-box-shadow: 0 2px 13px rgba(0, 0, 0, 0.7);
          box-shadow: 0 2px 13px rgba(0, 0, 0, 0.7);
}

.sidedrawer__accordion {
  margin-top: 2em;
}

.sidedrawer__header {
  cursor: pointer;
  padding: .7em 0em;
  text-align: center;
  -webkit-transition: .25s;
  transition: .25s;
}

.sidedrawer__header:hover {
  background-color: lightgray;
  -webkit-transition: .25s;
  transition: .25s;
}

.sidedrawer__header span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidedrawer__header span .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: .4em;
  -webkit-transition: .20s;
  transition: .20s;
  font-size: 14px;
}

.sidedrawer__header span .icon.rotate {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: .20s;
  transition: .20s;
}

.sidedrawer__expandable-links {
  max-height: 0px;
  overflow-y: hidden;
  -webkit-transition: max-height 0.2s linear;
  transition: max-height 0.2s linear;
}

.sidedrawer__expandable-links.show {
  max-height: 200px;
}

.sidedrawer ul {
  margin-top: 4em;
}

.sidedrawer ul a:first-child {
  border-top: 1px solid lightgray;
}

.sidedrawer ul a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  display: block;
  text-align: center;
  border-bottom: 1px solid lightgray;
  -webkit-transition: .15s;
  transition: .15s;
}

.sidedrawer ul a:hover {
  background-color: lightgray;
  -webkit-transition: .15s;
  transition: .15s;
}

.sidedrawer ul a li {
  list-style-type: none;
  padding: .7em 0em;
}

.sidedrawer button {
  margin-left: auto;
  background-color: white;
  margin-right: .5em;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: darkgray;
  font-size: 36px;
  cursor: pointer;
}

.sidedrawer button :hover {
  color: black;
}

.sidedrawer.show {
  visibility: visible;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: .4s ease;
  transition: .4s ease;
  width: 250px;
}

.backdrop {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
}
/*# sourceMappingURL=Navbar.css.map */