@import '../../variables.scss';

.sidedrawer{
    position: fixed;
    font-family: $font-one;
    z-index: 1000;
    background-color:white;
    right:0;
    bottom:0;
    top:0;
    width:250px;
    padding:1em 0em;
    transform: translateX(100%);
    transition: .4s ease; 
    visibility: hidden;
    box-shadow: 0 2px 13px rgba(0,0,0,.7);

   button{
        margin-left: auto;
        background-color: white;
        margin-right: .5em;
        border:none;
        display: flex;
        align-items: center;
        justify-content: center;
        color:darkgray;
        font-size: 36px;
        cursor: pointer;

        :hover{
            color:black; 
        }
     }
   }    

.sidedrawer.show{
    visibility:visible;
    transform:  translateX(0%);
    transition: .4s ease;
    width:250px;
}
