.weight{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12em;

    &__form{
        width:80%;
        padding:1em;
        max-width: 900px;
        display: flex;
        flex-direction: column;
    }

    &__table{
        display: flex;
        flex-direction: column;
        margin-top: 2em;
        height: 400px;
        width: 80%;
        max-width: 900px;
    }

    &__graph{
        display: flex;
        justify-content: center;
        min-height: 500px;
        max-width: 800px;
        margin-top: 5em;
        height: 400px;
        width: 95%;
        max-width: 800px;
    }
    
    &__no-data{
        width: 100%;
        margin-top: 2em;
        padding: 3em 0em;
        text-align: center;
    }
}